$colorbordes		: transparent;
$colortxt				: $gris;
$colorbg				: transparent;
$colorplacehold	: $gris;
$colorfucus			: transparent;

$fontinp				: $book;
$fontplacehold	: $book;

$altoinputs			: 45px;
$bordRad				: 0;
$fzinput				: 1.25em;
$borderwidth		: 0;

form {
	&.formLand {
		.form-group {
			.form-control {
				font-family: $fontinp;
				color: $colortxt;
				height: $altoinputs;
				font-size: $fzinput;
				line-height: 1;
				background-color: $colorbg;
				border:$borderwidth solid $colorbordes;
				border-bottom: 1px solid $gris1;
				padding: 1.55em 0;
				@include border-radius($bordRad);
				@include box-shadow( 0, 0, 0, 0, transparent);
				@include placeholder {
			    color: $colorplacehold;
			    font-family: $fontplacehold;			    
			    font-size: $fzinput;
			  }
			}			
		}
		button[type="submit"] {			
			@extend .med;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: $marine;
			height: $altoinputs;
			font-size: $fzinput;			
			padding-right: 0;
			margin-top: 1.3em;
			background-color: $colorbg;
			border:$borderwidth solid $colorbordes;
			@include border-radius($bordRad);
			text-align: right;			
			@include break(xs){
				width: 100%;
			}	
			&:focus {
				outline: none;
				color: $colortxt;
				height: $altoinputs;
				font-size: $fzinput;
				background-color: $colorbg;				
				border:$borderwidth solid $colorbordes;
			}
		}	

		.form-control {
			@include transition(all 850ms $ease-out-cubic);
			&:focus {			
				@include box-shadow( 0, 0px, 3px, 1px, $colorfucus);
				@include transition($trans);
			}
		}
	}
}
/* fin form */


.checkcampos {
	padding: 0;
}
.checkbox {
	label {
		font-size: 15px;
		@extend .roblight;
		color:$blanco;
	}
}

label.checklabel {
	margin-bottom: 5px; 
	padding-left: 0;
	input {
    display: none;
    padding: 0;
	}
	span {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    border:1px solid $blanco;
    @include border-radius(3px);
	}
	input:checked + span {
	  background-color: $blanco;
	  font-size: 20px;
	  border:0px solid $blanco;
	  background-image: url('../images/checkbox.png');	 		  
	}
}

