////////////////////////////////////
// Ultima actualización 27/07/2015//
////////////////////////////////////

.cFull {
	width: auto;
	//height: auto;
	overflow: hidden;
	position: relative;
}
@media (max-width:1265px) {
	.cFull {
		width: auto;
		//height: auto;
		overflow: hidden;
		position: relative;
	}
}
* {
	@include transition(width 250ms $ease-out-cubic);
}
.p0 {
	padding: 0 !important;
}
.mauto {
	margin: auto;
}
.dblock {
	display: block;
}
a:active, a:focus {
	@include transition(all 350ms $ease-out-cubic);
	text-decoration: none;
}
html,body {	
	min-height: 100%;
	height: 100%;
}
.wrap {
	position: relative;
	height: 100%
}
%text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
%contalmiddle {
	display:table;
	%almiddle {
		display:table-cell;
		vertical-align:middle;
	}
}
@mixin background-size($valor) {
	-webkit-background-size: $valor;
    -moz-background-size: $valor;
    background-size: $valor;
    -o-background-size: $valor;	
}
// FONTS
@mixin font-size( $value: 12 ) { 
  font-size: value + px;
  font − size: (value / 10) + rem;
}
@mixin line-height($heightValue: 12 ){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: (0.125 * $heightValue) + rem;
}
// vertically centering
@mixin ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}
@mixin truncateText($overflow: ellipsis){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}
@mixin text-shadow($h:1px, $v:1px, $blur:2px, $color:$negro) {
	text-shadow: $h $v $blur $color;
}
// BORDER-RADIUS
@mixin border-radius ( $value: 3px ) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value; 
  // keeps background from busting out of border 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// OPACITY
@mixin opacity($value){
  $ie-value: $value * 100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ie-value+")";
  filter: alpha(opacity=$ie-value);
}

// BOX-SHADOW
@mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

// DEGRADADO
@mixin deg ($deg, $deg2) {
	background: $deg;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from($deg), to($deg2));
	background: -webkit-linear-gradient($deg, $deg2);
	background: -moz-linear-gradient($deg, $deg2);
	background: -ms-linear-gradient($deg, $deg2);
	background: -o-linear-gradient($deg, $deg2);
	background: linear-gradient($deg, $deg2);
}

// MEDIAQUERIES
@mixin break($point) {
  @if $point == xs {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px)  { @content; }
  }
}

// TOOLS
// tooltips
@mixin hui_tooltip($content: attr(data-tooltip), $direction: top) {
  position: relative;
  &:before, &:after {
    display: none;
    z-index: 98;
  }
  &:hover {
    &:after { // for text bubble
      content: $content;
      display: block;
      position: absolute;
      height: 12px; // (makes total height including padding 22px)
      padding: 6px;
      font-size: 12px;
      white-space: nowrap;
      color: #fff;
      @include text-shadow(1px 1px #000);
      background-color: #222;
    }
    @if ($direction == 'top'){
      &:before {
        @include triangle(down, 6px, #222);
        top: -6px; margin-top: 0;
        left: 47%;
      }
      &:after {
        top: -28px;
        left: 47%; margin-left: -20px;
      }
    }
    @else if ($direction == 'bottom'){
      &:before {
        @include triangle(up, 6px, #222);
        top: auto; margin-top: 0;
        bottom: -6px;
        left: 47%;
      }
      &:after {
        bottom: -28px;
        left: 47%; margin-left: -20px;
      }
    }
  }
}

// Material Design Shadows
@mixin materialShadow($level) {
  @if $level == 1 {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @else if $level == 2 {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 3 {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 4 {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @else if $level == 5 {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

/* Alinea todo al centro en mobile va en block */
.alignCenter {
	@include break(xs){
		display: block		
	}
	@include break(sm){
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
	}	
}