
.modulo {	
	position: relative;
	$paddTB		: 6px;
	$paddLR		: 3px;

	$paddTBxs	: 3px;
	$paddLRxs	: 0;
	@include break(xs){
		padding:$paddTBxs $paddLRxs $paddTBxs $paddLRxs;
	}
	@include break(sm){
		padding:$paddTB $paddLR 0 $paddLR;
	}
	@include break(md){
		padding:$paddTB $paddLR 0 $paddLR;
	}
	@include break(lg){
		padding:$paddTB $paddLR 0 $paddLR;
	}

	&-50 {
		@include break(xs){
			padding:$paddTBxs/2 $paddLRxs 0 $paddLRxs;
		}
		@include break(sm){
			padding:$paddTB/2 $paddLR 0 $paddLR;
		}
		@include break(md){
			padding:$paddTB/2 $paddLR 0 $paddLR;
		}
		@include break(lg){
			padding:$paddTB/2 $paddLR 0 $paddLR;
		}

	}
}

.fixrow {
	&-13 {
		$m: -12.5px;
		@include break(xs){
			margin-right: ($m)+5;
			margin-left: ($m)+5;	
		}
		@include break(sm){
			margin-right: $m;
			margin-left: $m;
		}
	}

	&-25 {
		$m: -25px;
		@include break(xs){
			margin-right: ($m)+25;
			margin-left: ($m)+25;	
		}
		@include break(sm){
			margin-right: $m;
			margin-left: $m;
		}
	}
}

.js div#preloader{
	position:fixed;
	left:0;
	top:0;
	z-index:1000000000000000000000;
	width:100%;
	height:100%;
	overflow:visible;
	background:#0057a8 url('../images/preloader.svg') no-repeat center center;	
}
// .js div#preloader {
// 	&.preloader_individuos {
// 		background-color: #00B7D7;
// 	}
// 	&.preloader_empresas {
// 		background-color: #0057A7;
// 	}	
// }

.bg{
	// escala de grises
	&-gris1 {
		background-color: $gris1;
	}
	&-gris2 {
		background-color: $gris2;
	}
	&-gris3 {
		background-color: $gris3;
	}
	&-gris4 {
		background-color: $gris4;
	}
	&-gris5 {
		background-color: $gris5;
	}
	&-gris6 {
		background-color: $gris6;
	}	
	// colores
	&-cyan {
		background-color: $cyan;
	}
	&-magenta {
		background-color: $magenta;
	}
	&-amarillo {
		background-color: $amarillo;
	}
	&-verde {
		background-color: $verde;
	}
	&-violeta {
		background-color: $violeta;
	}
	&-transparent {
		background-color: transparent;
	}	
}
// fin bgs

.c{
	&-gris1 {
		color: $gris1;
	}
	&-gris2 {
		color: $gris2;
	}
	&-magenta {
		color: $magenta;
	}
	&-amarillo {
		color: $amarillo;
	}
	&-verde {
		color: $verde;
	}
	&-violeta {
		color: $violeta;
	}
	&-cyan {
		color: $cyan;
	}
	&-blanco {
		color: $blanco;
	}
	&-gristxt {
		color: $gris1;
	}
}
// fin colors

.bd {
	&-verde {
		border: 1px solid $verde;
	}
	&-top-verde {
		border-top: 1px solid lighten($verde, 5%);	
	}
}
// border
.p {
	&-0 {
		padding: 0;
	}
	&-l0 {
		padding-left: 0;
	}
	&-r0 {
		padding-right: 0;
	}
	&-t0 {
		padding-top: 0;
	}
	&-b0 {
		padding-bottom: 0;
	}
}

.m{
	&-0 {
		margin: 0 !important
	}

	&-t0 {
		margin-top: 0 !important;
	}
	&-b0 {
		margin-bottom: 0 !important;
	}

	&-l0 {
		margin-left: 0 !important;
	}
	&-r0 {
		margin-right: 0 !important;
	}
}
// fin margins

// hr {
// 	&.hrcyan {
// 		border-top: 1px $cyan;		
// 	}
// 	&.hrmagenta {
// 		border-top: 1px solid $magenta;		
// 	}
// 	&.hrvioleta {
// 		border-top: 1px solid $violeta;		
// 	}
// 	&.hrverde {
// 		border-top: 1px solid $verde;		
// 	}
// 	&.hramarillo {
// 		border-top: 1px solid $amarillo;		
// 	}
// }

// Columnas
.col2x1 {
	$padd:0.5em;
	&.col1 {
		@include break(xs){
			padding-left: 0;
			padding-right: 0;	
		}
		@include break(sm){
			padding-left: 0;
			padding-right: $padd;
		}
	}
	&.col2 {
		@include break(xs){
			padding-right: 0;
			padding-left: 0;	
		}
		@include break(sm){
			padding-right: 0;
			padding-left: $padd;
		}
	}
}
// fin col2x1
.col3x1 {
	$padd:0.5em;
	&.col1 {
		@include break(xs){
			padding-right: $padd;
			padding-left: $padd;
		}
		@include break(sm){
			padding-left: 0;
			padding-right: $padd;
		}
	}
	&.col2 {
		@include break(xs){
			padding-right: $padd;
			padding-left: $padd;
		}
		@include break(sm){
			padding-right: $padd /2;
			padding-left: $padd /2;
		}
	}

	&.col3 {
		@include break(xs){
			padding-right: $padd;
			padding-left: $padd;
		}
		@include break(sm){
			padding-right: 0;
			padding-left: $padd;
		}
	}
}
// fin col2x1
.col4x1 {
	$padd:0.5em;
	&.col1 {
		@include break(xs){
			padding-left: 0;
			padding-right: 0;	
		}
		@include break(sm){
			padding-left: 0;
			padding-right: $padd;		
		}
	}
	&.col2, &.col3 {
		@include break(xs){
			padding-right: 0;
			padding-left: 0;	
		}
		@include break(sm){
			padding-right: $padd;
			padding-left: $padd;		
		}
	}
	&.col4 {
		@include break(xs){
			padding-right: 0;
			padding-left: 0;	
		}
		@include break(sm){
			padding-right: 0;
			padding-left: $padd;		
		}
	}
}
// fin col4x1

.toolresponsive {
	pointer-events: none;
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	background-color: rgba($negro,0.2);
	text-align: center;
	box-shadow:1px 1px 7px rgba($negro, 0.2);
	position: fixed;
	font-size: 23px;
	padding: 15px;
	top: 0;
	right: 0;
	z-index: 999999999999999999999999;
	.titl {
		font-size: 23px;
		padding-top: 5px;	
		&.bdceleste {
			@include bdt(1px solid rgba(lightblue,0.8));		
			@extend .upper;
			text-align: center;
		}
	}
	.nro {
		text-align: center;
	}
}

.toolresponsive {
	@include opacity(1);
	color:$blanco !important;
	background-color: rgba($cyan,1);
	@extend .roblight;
}

// Easing para Carousel onslide
.carousel {
	.item {
		@include transition(all 350ms $ease-out-quad);
	}

	&-control {
		span,i {
			width: 30px;
	    height: 30px;
	    margin-top: -15px;
	    font-size: 30px;
	    position: absolute;
	    top: 50%;
	    z-index: 5;
	    display: inline-block;
		}

		&.left {
			  left: 0;
		    right: auto;			
    	span,i {
    		left: 50%;
    		margin-left: -10px;
    	}
		}
		&.right {
		    right: 0;
    		left: auto;
			span,i {
				right: 50%;
    		margin-right: -10px;
			}
		}
	}
}