.modulo {	
	position: relative;
	$paddTB		: 70px;
	$paddLR		: 0;

	$paddTBxs	: 35px;
	$paddLRxs	: 15px;
	@include break(xs){
		padding:$paddTBxs $paddLRxs $paddTBxs $paddLRxs;
	}
	@include break(sm){
		padding:$paddTB $paddLR $paddTB $paddLR;
	}
	@include break(md){
		padding:$paddTB $paddLR $paddTB $paddLR;
	}
	@include break(lg){
		padding:$paddTB $paddLR $paddTB $paddLR;
	}

	&-50 {
		@include break(xs){
			padding:$paddTBxs/2 $paddLRxs 0 $paddLRxs;
		}
		@include break(sm){
			padding:$paddTB/2 $paddLR 0 $paddLR;
		}
		@include break(md){
			padding:$paddTB/2 $paddLR 0 $paddLR;
		}
		@include break(lg){
			padding:$paddTB/2 $paddLR 0 $paddLR;
		}
	}

	&-mitad {
		@include break(xs){
			padding:$paddTBxs $paddLRxs $paddTBxs $paddLRxs;
		}
		@include break(sm){
			padding:$paddTB/2 $paddLR/2 $paddTB/2 $paddLR/2;
		}
		@include break(md){
			padding:$paddTB/2 $paddLR/2 $paddTB/2 $paddLR/2;
		}
		@include break(lg){
			padding:$paddTB/2 $paddLR/2 $paddTB/2 $paddLR/2;
		}
	}
	&-tercera {
		@include break(xs){
			padding:$paddTBxs $paddLRxs $paddTBxs $paddLRxs;
		}
		@include break(sm){
			padding:$paddTB/2.5 $paddLR $paddTB/2.5 $paddLR;
		}
		@include break(md){
			padding:$paddTB/2.5 $paddLR $paddTB/2.5 $paddLR;
		}
		@include break(lg){
			padding:$paddTB/2.5 $paddLR $paddTB/2.5 $paddLR;
		}
	}
}

.fixrow {
	&-8 {
		$m: -8px;
		@include break(xs){
			margin-right: $m;
			margin-left: $m;	
		}
		@include break(sm){
			margin-right: $m;
			margin-left: $m;
		}
	}
	&-13 {
		$m: -13px;
		@include break(xs){
			margin-right: $m + 5;
			margin-left: $m + 5;	
		}
		@include break(sm){
			margin-right: $m;
			margin-left: $m;
		}
	}

	&-25 {
		$m: -25px;
		@include break(xs){
			margin-right: $m + 25;
			margin-left: $m + 25;	
		}
		@include break(sm){
			margin-right: $m;
			margin-left: $m;
		}
	}
}

.js div#preloader{
	position:fixed;
	left:0;
	top:0;
	z-index:1000000000000000000000;
	width:100%;
	height:100%;
	overflow:visible;
	background:#0057a8 url('../images/preloader.svg') no-repeat center center;
	&.preloader_individuos {
		background-color: #00B7D7;
	}
	&.preloader_empresas {
		background-color: #0057A7;
	}	
	&.preloader_fest {
		background-color: $gris;
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		i.icon-personal {
			position: relative;
			font-size: 3em;
			top: -60px;
		}
	}
}

.bg{
	&-transparent {
		background-color: transparent;
	}	
}

.p {
	&-0 {
		padding: 0;
	}
	&-l0 {
		padding-left: 0;
	}
	&-r0 {
		padding-right: 0;
	}
	&-t0 {
		padding-top: 0;
	}
	&-b0 {
		padding-bottom: 0;
	}
}

.m{
	&-0 {
		margin: 0 !important
	}

	&-t0 {
		margin-top: 0 !important;
	}
	&-b0 {
		margin-bottom: 0 !important;
	}

	&-l0 {
		margin-left: 0 !important;
	}
	&-r0 {
		margin-right: 0 !important;
	}
}
// fin margins


//////////////
// Columnas //
//////////////

.col2x1 {
	$padd2x1:1.5%;
	&.col1 {		
			padding-left: 0;
			padding-right: $padd2x1;		
	}
	&.col2 {
			padding-right: 0;
			adding-left: $padd2x1;		
	}
}
// fin col2x1

.col3x1 {
	$padd:1.5%;
	&.col1 {
		@include break(xs){
			padding-right: $padd;
			padding-left: $padd;
		}
		@include break(sm){
			padding-left: 0;
			padding-right: $padd;
		}
	}
	&.col2 {
		@include break(xs){
			padding-right: $padd;
			padding-left: $padd;
		}
		@include break(sm){
			padding-right: $padd /2;
			padding-left: $padd /2;
		}
	}

	&.col3 {
		@include break(xs){
			padding-right: $padd;
			padding-left: $padd;
		}
		@include break(sm){
			padding-right: 0;
			padding-left: $padd;
		}
	}
}
// fin col2x1

.col4x1 {
	$padd:10px;
	&.col1 {
		@include break(xs){
			padding-left: 0;
			padding-right: 0;	
		}
		@include break(sm){
			padding-left: 0;
			padding-right: $padd;		
		}
	}
	&.col2, &.col3 {
		@include break(xs){
			padding-right: 0;
			padding-left: 0;	
		}
		@include break(sm){
			padding-right: $padd;
			padding-left: $padd;		
		}
	}
	&.col4 {
		@include break(xs){
			padding-right: 0;
			padding-left: 0;	
		}
		@include break(sm){
			padding-right: 0;
			padding-left: $padd;		
		}
	}
}
// fin col4x1

.toolresponsive {
	@include opacity(1);
	color:$blanco !important;
	background-color: rgba(#0065ff,1);
	@extend .roblight;
	pointer-events: none;	
	text-align: center;
	box-shadow:1px 1px 7px rgba($negro, 0.2);
	position: fixed;
	font-size: 23px;
	padding: 15px;	
	z-index: 999999999999999999999999;

	&.top-right {
		@include border-bottom-radius(50%);
		@include border-left-radius(50%);
		top: 0;
		right: 0;
	}
	&.top-left {
		@include border-bottom-radius(50%);
		@include border-right-radius(50%);
		top: 0;
		left: 0;
	}
	&.bottom-left {
		@include border-top-radius(50%);
		@include border-right-radius(50%);
		bottom: 0;
		left: 0;
	}
	&.bottom-right {
		@include border-top-radius(50%);
		@include border-left-radius(50%);
		bottom: 0;
		right: 0;
	}
	.titl {
		font-size: 23px;
		padding-top: 5px;	
		&.bdceleste {
			border-top: 1px solid rgba(lightblue,0.8);
			text-transform: uppercase;
			text-align: center;
		}
	}
	.nro {
		text-align: center;
	}
}