// COLORS
$blanco			: #ffffff;
$negro			: #000000;

// escala de grises
$gris1			: #231f20; // txt
$gris2			: #777777; // txt2
$gris3			: #FAFAFA;
$gris4			: #e0e0e0;
$gris5			: #ededed;
$gris6			: #e9e9e9;

$back-bg		: #F3F0EB; // bg
$logo-c			: #3C3C3C; // logo / contacto-txt
$txt-c			: #32302C; // texto / bg-title carousel / X


// colores
$cyan				: #00b4c5;
$magenta		: #d9186b;
$violeta		: #563d7c;
$verde			: #007c85;
$amarillo		: #d9ad07;
$azul				: #2D88AC;


// Otros
$imp : !important;
$l : left;
$r : right;
$justify : justify;