// COLORS
$blanco			: #ffffff;
$negro			: #000000;

// escala de grises
$gris			: #646464; // txt
$gris1		: #6a6a6a; // x

$marine 	: #41bb93;
$celesteO	: #3d94cf;
$celesteC	: #5cb6c4;
$beish		: #f1eadd; // form bg
$verde    : #99bd73;
$rojo			: #e65e4c;
$azul			: #488fcd;
$amarillo : #e5b463;

// socials colors
$youtube	: #e52d27;
$pinterest: #C92228;
$linkedin	: #0077b5;


// Otros
$imp 			: !important;
$l				: left;
$r				: right;
$justify 	: justify;

// ANIMATIONS
$trans : all 350ms $ease-out-quad;

// TEXTO
$thin 	: 'flama-Thin', Arial;
$book 	: 'flama-Book', Arial;
$light 	: 'flama-light', Arial;
$med 		: 'flama-medium', Arial;

// svg fonts
$esencial : 'essential-light';
