$txth: 4.7em;
h1 {	
	line-height: 1.0;	
	margin:0;
	position: relative;
	@include break(xs){
		font-size: ($txth)-1.6;
	}
	@include break(sm){
		font-size: ($txth)-1;
	}
	@include break(md){
		font-size: $txth;
	}
	small {
		font-size: 0.35em;
	}
}

h2 {
	line-height: 1;
	margin:0;
	position: relative;
	@include break(xs){
		font-size: ($txth)-2.2;
	}
	@include break(sm){
		font-size: ($txth)-2.1;
	}
	@include break(md){
		font-size: ($txth)-2.0;
	}
	small {
		font-size: 0.7em;
	}
}

h3 {
	line-height: 1.15;
	margin:0;
	position: relative;
	@include break(xs){
		font-size: ($txth)-2.93;
	}
	@include break(sm){
		font-size: ($txth)-2.85;
	}
	@include break(md){
		font-size: ($txth)-2.65;
	}
}

h4 {
	line-height: 1.15;
	margin:0;
	position: relative;
	@include break(xs){
		font-size: ($txth)-2.7;
	}
	@include break(sm){
		font-size: ($txth)-3.2;
	}
	@include break(md){
		font-size: ($txth)-3.2;
	}
}
h5 {
	line-height: 1.15;
	margin:0;
	position: relative;
	@include break(xs){
		font-size: ($txth)-2.25;
	}
	@include break(sm){
		font-size: ($txth)-2.15;
	}
	@include break(md){
		font-size: ($txth)-2;
	}
}

p {	
	line-height: 1.2;
	&.txt9 {
		$p: 9px;
		@extend .roblight;
		margin:0;
		position: relative;
				
		font-size: $p;		
	}

	&.txt13 {
		$p: 13.5px;
		@extend .roblight;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt13 {
		$p: 13.5px;
		@extend .roblight;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt14 {
		$p: 14px;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt15 {
		$p: 15px;
		@extend .roblight;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt18 {
		$p: 18px;
		@extend .roblight;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt20 {
		$p: 20px;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt23 {
		$p: 23px;
		@extend .roblight;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: $p - 1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt30 {
		$p: 30px;
		@extend .roblight;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p -2;
		}
		@include break(sm){
			font-size: $p -2;
		}
		@include break(md){
			font-size: $p;
		}
	}
}
// fin parrafo
