$fstxt: 2.5em;
h1 {	
	span {
	}
	@include break(xs){
		font-size: ($fstxt)-1;
	}
	@include break(sm){
		font-size: ($fstxt)-0.5;
	}
	@include break(md){
		font-size: $fstxt;
	}
}

h2 {
	@include break(xs){
		font-size: ($fstxt)-1.2;
	}
	@include break(sm){
		font-size: ($fstxt)-1.1;
	}
	@include break(md){
		font-size: ($fstxt)-1.0;
	}
}

h3 {
	@include break(xs){
		font-size: ($fstxt)-1.9;
	}
	@include break(sm){
		font-size: ($fstxt)-1.3;
	}
	@include break(md){
		font-size: ($fstxt)-1.2;
	}
}

p {
	&.txt9 {
		$p: 9px;				
		font-size: $p;		
	}

	&.txt13 {
		$p: 13.5px;		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: ($p)-1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt13 {
		$p: 13.5px;
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: ($p)-1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt14 {
		$p: 14px;
		margin:0;
		position: relative;
		
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: ($p)-1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt15 {
		$p: 15px;
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: ($p)-1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt18 {
		$p: 18px;
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: ($p)-1;
		}
		@include break(md){
			font-size: $p;
		}
	}

	&.txt23 {
		$p: 23px;
		@extend .roblight;
		@include break(xs){
			font-size: $p;
		}
		@include break(sm){
			font-size: ($p)-1;
		}
		@include break(md){
			font-size: $p;
		}
	}
}
// fin parrafo
